* {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 main {
   margin: 2vw;
   text-align: center;
 }

 nav {
   background-color: #BF3F3F;
 }

 h2 {
   font-size: 5vw;
 }

 h3 {
   font-size: 3vw;
 }

 .book-img {
   max-height: 30em;
   overflow: hidden;
}

 img {
   width: 75%;
   object-fit: cover;
 }

 .books {
   margin-bottom: 15vw;
 }
